@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');


:root {
    --main-bg: #2a323a;
    --color-light: #f7f4f4;
    --color-light-gray: #a7adba;
    --color-title: #6A7687;
    --color-steal-blue: #9DC1D9;
    --details-light-blue: #BEE0EA;
    --light-highlight-blue: #3edbf0;
}

html {
    background-image: url("./clock-image.jpg");
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }

  body {
    margin: 0;
    margin-bottom: 2%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
  }

  /*Header*/
header{
    width: 100%;
}
.navbar {
    height: 50px;
    background-color: var(--main-bg);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--details-light-blue);
}

.navbar img{
    width: 25px;
    height: auto;
}
.navbar a{
   text-decoration: none;
   color: var(--color-light); 
   letter-spacing: 1px;
   padding: 10px;
   font-size: 15px;
   font-family: 'Muli', sans-serif;
}
.navbar a:hover{
    color: var(--color-light-gray);
 }

.navbar-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.title h1{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    letter-spacing: 4px;
    font-size:5rem;
    color: var( --color-steal-blue);
}

.title h1 i{
    color: var(--details-light-blue);
}

/*END- Header*/
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
  .clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: transparent;
    margin: 100px auto 0px auto;
    position: relative;
    
  }

  .clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* account for the height of the clock hands */
  }

  .center{
    background-color: var(--details-light-blue);
    position: absolute;
    left: calc(50% - 10px);
    top:  calc(50% - 10px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    z-index: 20;
}

.second{
    width: 2px;
    height: 120px;
    background-color: var(--light-highlight-blue);
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 149px;
    transition: all 0.06s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    z-index: 8;  
      transform: rotate(360deg);
}

.hour{
    width: 10px;
    height: 75px;
    background-color: var(--main-bg);
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 75px;
    left: 145px;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(360deg);
}
.min{
    width: 5px;
    height: 120px;
    background-color: var(--main-bg);
    transform-origin: bottom center;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 147px;
    z-index: 9;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
      transform: rotate(90deg);
}

  .time{
    position: absolute;
    top: 70%;
    left: 25%;
    border: none;
    padding: 5px;
    display: block;
    box-shadow: inset 0px 2px 5px rgba(0,0,0,.4);
    border-radius: 5px;
    min-width: 50%;
    height: 15%;
    
}
.time span{
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10px;
    color: var(--light-highlight-blue);
    font-size: 10rem;
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.clock ul{
    list-style: none;
    padding: 0;

}
.clock ul li{
    position: absolute;
    width:20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    font-size: 3rem;
    color:#fff;
}
.clock ul li:nth-child(1){
    right: 22%;
    top:6.5%;
}
.clock ul li:nth-child(2){
    right: 6%;
    top:25%;
}
.clock ul li:nth-child(3){
    right: 1%;
    top:calc(50% - 10px);
    color:#88f9fd;
    font-size: 5rem;
    font-weight: bold;
}
.clock ul li:nth-child(4){
    right: 6%;
    top:69%;
}
.clock ul li:nth-child(5){
    right: 22%;
    top:84%;
}
.clock ul li:nth-child(6){
    right: calc(50% - 10px);
    top:calc(99% - 20px);
    color:#88f9fd;
    font-size: 5rem;
    font-weight: bold;
}
.clock ul li:nth-child(7){
    left: 22%;
    top:84%;
}
.clock ul li:nth-child(8){
    left: 6%;
    top:69%;
}
.clock ul li:nth-child(9){
    left: 1%;
    top:calc(50% - 10px);
    color:#88f9fd;
    font-size: 5rem;
    font-weight: bold;
}
.clock ul li:nth-child(10){
    left: 6%;
    top:25%;
}
.clock ul li:nth-child(11){
    left: 22%;
    top:6.5%;
}
.clock ul li:nth-child(12){
    right: calc(50% - 10px);
    top:1%;
    color:#88f9fd;
    font-size: 5rem;
    font-weight: bold;
}
